body {
    font-size: 2.5rem;
    background-color: black;
}

.banner {
    display: flex;
}

.banner-1 {
    width: 100%;
    height: auto;
}


@media(max-width: 480px; ) {
    .banner-1 {
        width: 30%;
    }
}

.contador {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

@media(max-width: 480px; ) {
    button{
        width: 10%;
    }
}

button {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 15px;
    border: solid 1px orangered;
    background-color: burlywood;

    /* text-align: center; */

}

#contadorMortes {
    color: aliceblue;
    padding: 1rem;
}